.page-2 .vector-15 {
  background: #FFFFFF;
  width: 1024.5px;
  height: 576px;
}
.page-2 .rectangle-7 {
  background: url('assets/images/Rectangle4.png');
  width: 763.3px;
  height: 172.6px;
}
.page-2 .rectangle-8 {
  background: url('assets/images/Rectangle4.png');
  width: 763.3px;
  height: 172.6px;
}
.page-2 .clip-path-group-18 {
  position: relative;
  display: flex;
  width: 763.3px;
  height: 172.6px;
  box-sizing: border-box;
}
.page-2 .clip-path-group-17 {
  background: url('assets/images/Rectangle4.png');
  position: relative;
  display: flex;
  width: 763.3px;
  height: 172.6px;
  box-sizing: border-box;
}
.page-2 .container-3 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 1024.5px;
  height: 576px;
}
.page-2 .rectangle {
  background: url('assets/images/Rectangle8.png');
  width: 193.4px;
  height: 108.7px;
}
.page-2 .clip-path-group-6 {
  position: absolute;
  left: 130.2px;
  bottom: 111px;
  display: flex;
  padding-top: 0px;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .rectangle-1 {
  background: url('assets/images/Rectangle7.png');
  width: 163.6px;
  height: 108.7px;
}
.page-2 .clip-path-group-7 {
  position: absolute;
  left: 260.1px;
  bottom: 111px;
  display: flex;
  padding-bottom: 0px;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .rectangle-2 {
  background: url('assets/images/Rectangle6.png');
  width: 163.2px;
  height: 108.7px;
}
.page-2 .clip-path-group-8 {
  position: absolute;
  left: 387.6px;
  bottom: 111px;
  display: flex;
  padding-top: 0px;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .rectangle-3 {
  background: url('assets/images/Rectangle3.png');
  width: 93.1px;
  height: 139.6px;
}
.page-2 .clip-path-group-9 {
  position: absolute;
  right: 414.9px;
  bottom: 111px;
  display: flex;
  padding-right: 0px;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .rectangle-4 {
  background: url('assets/images/Rectangle1.png');
  width: 178.8px;
  height: 119.2px;
}
.page-2 .clip-path-group-10 {
  position: absolute;
  right: 289.8px;
  bottom: 111px;
  display: flex;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .clip-path-group-13 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 1024.5px;
  height: 576px;
}
.page-2 .rectangle-5 {
  background: url('assets/images/Rectangle2.png');
  width: 93.1px;
  height: 138.8px;
}
.page-2 .clip-path-group-14 {
  position: absolute;
  right: 158.5px;
  bottom: 111px;
  display: flex;
  padding-right: 0px;
  width: 93.1px;
  height: 108.7px;
  box-sizing: border-box;
}
.page-2 .rohit-dubey {
  position: absolute;
  right: 165.1px;
  bottom: 82.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .ui-ux-designer {
  position: absolute;
  right: 173.6px;
  bottom: 98px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .singh {
  position: absolute;
  right: 296.4px;
  bottom: 81.8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .mohit {
  position: absolute;
  right: 337.8px;
  bottom: 82.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .backend-developer {
  position: absolute;
  right: 296.4px;
  bottom: 98.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .marshal-fein {
  position: absolute;
  right: 422.9px;
  bottom: 83.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .frontend-developer {
  position: absolute;
  right: 422.2px;
  bottom: 97.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .rahul-roy {
  position: absolute;
  left: 399.7px;
  bottom: 83.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .social-media-manager {
  position: absolute;
  left: 389.6px;
  bottom: 97.8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .abhishek-sen {
  position: absolute;
  left: 263.1px;
  bottom: 84.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .content-writer {
  position: absolute;
  left: 274.1px;
  bottom: 98.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .pranay-kaur {
  position: absolute;
  left: 136.5px;
  bottom: 84.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #FFFFFF;
}
.page-2 .graphic-designer {
  position: absolute;
  left: 140.2px;
  bottom: 98.4px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #FFFFFF;
}
.page-2 .our-top-frelancers {
  position: absolute;
  left: 120.7px;
  top: 50%;
  translate: 0 -50%;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 37.3px;
  color: #4A2E6F;
}
.page-2 .why-choose-us {
  position: absolute;
  left: 129.3px;
  top: 31.4px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 37.3px;
  color: #4A2E6F;
}
.page-2 .clip-path-group-16 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 99.5px 15.1px 0 0;
  width: 1024.5px;
  height: 576px;
  box-sizing: border-box;
}
.page-2 {
  background: #FFFFFF;
  display: flex;
  width: 1024.5px;
  box-sizing: border-box;
}
