.page-1 .vector-60 {
  background: #FFFFFF;
  width: 1024.5px;
  height: 576px;
}
.page-1 .vector-11 {
  width: 59.8px;
  height: 5.9px;
}
.page-1 .clip-path-group-15 {
  position: absolute;
  left: 41.2px;
  top: 20.9px;
  display: flex;
  width: 59.8px;
  height: 6px;
  box-sizing: border-box;
}
.page-1 .vector-18 {
  width: 30.6px;
  height: 23.9px;
}
.page-1 .clip-path-group-19 {
  position: absolute;
  left: 54.7px;
  top: 30.3px;
  display: flex;
  width: 31px;
  height: 24.1px;
  box-sizing: border-box;
}
.page-1 .container-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 1024.5px;
  height: 576px;
}
.page-1 .vector-3 {
  width: 26.1px;
  height: 9.9px;
}
.page-1 .clip-path-group-5 {
  position: absolute;
  top: 27.4px;
  right: 24.5px;
  display: flex;
  width: 26.3px;
  height: 17.3px;
  box-sizing: border-box;
}
.page-1 .vector-4 {
  width: 26.1px;
  height: 2.3px;
}
.page-1 .clip-path-group-6 {
  position: absolute;
  top: 42.7px;
  right: 24.5px;
  display: flex;
  width: 26.1px;
  height: 2px;
  box-sizing: border-box;
}
.page-1 .clip-path-group-11 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .clip-path-group-14 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .clip-path-group-18 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .clip-path-group-22 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .clip-path-group-25 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.page-1 .vector-5 {
  width: 1038px;
  height: 0px;
}
.page-1 .group-2 {
  position: absolute;
  left: -9.2px;
  top: 67.7px;
  display: flex;
  width: 1038px;
  height: 2.1px;
  box-sizing: border-box;
}
.page-1 .group-8 {
  position: absolute;
  top: 0.6px;
  right: -0.2px;
  width: 16.9px;
  height: 16.9px;
}
.page-1 .clip-path-group-26 {
  position: relative;
  width: 17.3px;
  height: 17.3px;
}
.page-1 .container-10 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 1024.5px;
  height: 576px;
}
.page-1 .rectangle-6 {
  background: url('assets/images/Rectangle13.png');
  width: 742.5px;
  height: 102.8px;
}
.page-1 .clip-path-group-67 {
  position: absolute;
  left: 134.4px;
  bottom: 27.8px;
  display: flex;
  width: 742.5px;
  height: 102.8px;
  box-sizing: border-box;
}
.page-1 .popular-services {
  position: absolute;
  left: 135.2px;
  bottom: 149.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 34.1px;
  color: #4A2E6F;
}
.page-1 .singh {
  position: absolute;
  right: 204.3px;
  bottom: 251.9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .rani {
  position: absolute;
  right: 246.1px;
  bottom: 252.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .backend-developer {
  position: absolute;
  right: 200.4px;
  bottom: 268.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #4A2E6F;
}
.page-1 .arindam-guha {
  position: absolute;
  right: 329.4px;
  bottom: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .frontend-developer {
  position: absolute;
  right: 340.8px;
  bottom: 267.8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #4A2E6F;
}
.page-1 .pratik-roy {
  position: absolute;
  left: 473.8px;
  bottom: 253.8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .social-media-manager {
  position: absolute;
  left: 463.6px;
  bottom: 268px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #4A2E6F;
}
.page-1 .ram-mandal {
  position: absolute;
  left: 329.3px;
  bottom: 254.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .content-writer {
  position: absolute;
  left: 337.4px;
  bottom: 268.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #4A2E6F;
}
.page-1 .adrish-sen {
  position: absolute;
  left: 190.5px;
  bottom: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 12.3px;
  color: #4A2E6F;
}
.page-1 .graphic-designer {
  position: absolute;
  left: 188.8px;
  bottom: 267.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 8px;
  color: #4A2E6F;
}
.page-1 .fauget {
  position: absolute;
  left: 101px;
  top: 16.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 23.3px;
  color: #4A2E6F;
}
.page-1 .search-for-freelancers {
  position: absolute;
  left: 273.2px;
  top: 121.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14.8px;
  color: #4A2E6F;
}
.page-1 .sign-in {
  position: absolute;
  top: 24.6px;
  right: 91.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 13.9px;
  color: #FFFFFF;
}
.page-1 .explore {
  position: absolute;
  top: 24.1px;
  right: 198.9px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 13.9px;
  color: #4A2E6F;
}
.page-1 .our-services {
  position: absolute;
  top: 24.1px;
  right: 295.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 13.9px;
  color: #4A2E6F;
}
.page-1 .clip-path-group-7 {
  position: relative;
  display: flex;
  padding: 126px 0 0 409.1px;
  width: 1024.5px;
  height: 576px;
  box-sizing: border-box;
}
.page-1 .clip-path-group-8 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  width: 1024.5px;
  height: 576px;
  box-sizing: border-box;
}
.page-1 {
  background: #FFFFFF;
  display: flex;
  width: 1024.5px;
  box-sizing: border-box;
}
